.mensaje-exito {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: sans-serif;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.mensaje-error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: sans-serif;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
