.btn {
  width: 145px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.btn-primary{
  background-color: #007bff;
  color: white;  
}
.btn-danger {
  background-color: #dc3545; 
  color: white;
}

.btn-ghost {
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
}
.btn-success {
  background-color: #40dc35; 
  color: white;
}